<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TestEra.Club</title>
	<link rel="icon" type="image/x-icon" href="static/favicon.ico">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<!-- <link rel="stylesheet" type="text/css" href="static/opensans-font.css"/> -->
	<link rel="stylesheet" type="text/css" href="static/line-awesome-font-awesome.min.css"/>
	<!-- Jquery -->
	<!-- <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css"> -->
	<!-- Main Style Css -->
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
	
		
</head>
<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<form class="form-detail" method="POST">
				<h2>TestEra.Club</h2>
				<h4>Your AI Testing Assistant</h4>
				
				<div class="form-row">
					
					<label>Generate Test Cases and User Stories for any requirement.</label>
					<label>For Devs and QAs looking to come up with the best test cases.</label>
					<label>Google gives you answers that SEOs and content marketers want you to read, TestEra creates answers to the questions YOU asked.</label>
					<textarea maxlength="500" id="user_requirement" rows="10" cols="50" class="input-text"></textarea>
					
				</div>
				
				<div class="form-row-last">
					<label style="color: red" id="validation"></label>
					
					<input id="submitRequirements_TestCases" method="POST" type="button" value="Test Cases" class="register" onclick="gatherTestCasesDataToSend()">
					<input id="submitRequirements_UserStories" method="POST" type="button" value="User Stories" class="register" onclick="gatherUserStoriesDataToSend()">
					<input id="clearBox" type="button" value="Clear" class="register" onclick="clearAll()">
					<input id="LogInButton" type="button" value="Google Login" class="register" onclick="logIn()">
					<label>For general questions<a href="https://www.dictionaryv2.com/" target="_blank">use this APP</a></label>
					

				</div>
				
				
			</form>
			<div class="form-left">
				<h2 id="TestorStoriesType">Output</h2>
				<p id="outputAnswerToDisplay" class="text-1">Your AI generated output will appear here.
					<br/>
					<br/>
					 TestEra.Club is your virtual testing assistant that can: <br/>
					- Generate test cases<br/>
					- Generate user stories<br/>
					
					<br/>
					Ask your requirements multiple times with different wording and then put everything together.
				</p>
				
				<div class="form-left-last">
					<input id="shareButton" type="button" class="account" value="Share this" onclick="shareURL()">
					<input id="copyButton" type="button" class="account" value="Copy Output" onclick="copyOutput()">
				</div>
				<!-- <label for="disclamer" style="color:red">Note - Do not enter personal information</label><br/><br/> -->
				<label id="loggedinemail"></label><br/>
				<input id="logoutButton" type="button" class="account" value="LogOut" onclick="logOut()"><br/>
				<div class="form-row-last">
				<label></label><a href="/ContactUs" target="_blank">Contact Us</a><br/>
				<label></label><a href="/TermsOfService" target="_blank">Terms of Service</a><br/>
				<label></label><a href="/PrivacyPolicy" target="_blank">Privacy Policy</a><br/>
				<label></label><a href="/UsageGuidelines" target="_blank">Usage Guidelines</a>


				</div>

				
				<br/>
				<label>KEEP IN MIND</label><br/>
				<label>-Use good judgment when sharing outputs, and attribute them to your name. You are responsible for the content you share. Please check anything that TestEra generates thoroughly!</label><br/>
				<label>-Training data for our AI cuts off in 2021, so it may not have knowledge of current events.</label><br/>
				<br/>
				<label>Powered by OpenAI</label>
				
			</div>
		</div>
	</div>
	      
	<!-- //second row start -->
<div class="page-content">
		<div class="form-v4-content">
			<!-- ad 1 -->
			<form class="form-detail" method="POST">
				<!-- <h2>Ads</h2> -->
				
				<div class="form-row">
					<h2>Want more knowledge in less time?</h2>
					<!-- <h4>Understand books & podcasts in 15 minutes</h4> -->
					<a href="https://blinkist.o6eiov.net/RykNPg" target="_blank" ><input type="button" value="Get Started" class="register" onclick="affiliate1()"></a>
					
				</div>	
			</form>
			<!-- ad 2 -->
			<div class="form-left">
				<div class="form-left-last">
						<h2>Understand books & podcasts in 15 minutes</h2>
						<!-- <h4>Understand books & podcasts in 15 minutes</h4> -->
						<a href="https://blinkist.o6eiov.net/RykNPg" target="_blank" ><input type="button" value="Check it out" class="account" onclick="affiliate2()"></a>
				</div>

			</div>
		</div>
	</div>
	<!-- //secon row end -->
	
	<br/>
	<br/>


 <!-- firebase -->
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>

 <script src="static/firebase.js"></script>

	
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="static/ai.js"></script>

	
	
	
</body>

</html>
